doctype 5
html(style="height:100%")
  head
  body(style="padding-top: 60px; padding-bottom:40px; height:100%")
    div(class="navbar navbar-fixed-top navbar-inverse")
      div(class="navbar-inner")
          a(class="brand", href="#") Project Morat
          ul(class="nav")
            li(class="active")
              a(href="#") HOME
    block content

